$base-color-light: #eff1ed
$base-color-dark: #242424
$base-font: "BICRO"
$secondary-font: "MONO"
$base-blue: #A0D2E8


.desktop .section.one
  position: relative
  background-color: $base-color-dark
  display: flex
  flex-direction: column
  width: 100wv
  align-items: center
  justify-content: center
  padding: 2.5vw 0
  span
    z-index: 2
    display: block
    width: 90vw
    height: 0.083vw
    background-color: $base-color-light
  h1
    animation: anim_header 0.8s ease
    text-align: center
    z-index: 2
    margin-top: 5.1666vw
    font-size: 9.5vw
    margin-bottom: 1.41666vw
    font-family: $base-font
    color: $base-color-light
    -webkit-text-stroke: 0.083vw $base-color-light
    text-stroke: 0.083vw $base-color-light
    text-transform: uppercase
    text-shadow: $base-blue 0 0 0.75vw
  p
    animation: anim2 0.8s ease
    text-align: center
    z-index: 2
    font-weight: bold
    width: 60vw
    font-size: 1.67vw
    color: $base-color-light
    font-family: $secondary-font
    margin-bottom: 3vw
    a, a:hover, a:active
      cursor: pointer
      text-decoration: underline
      color: $base-color-light
  .soc-block
    animation: anim2 0.8s ease
    z-index: 2
    display: flex
    gap: 3vw
    margin-bottom: 3vw
    img
      width: 4.6vw
  .background-oblako
    width: 42.8vw
    height: 28.5vw
    position: absolute
    z-index: 1
    filter: blur(8.75vw)
    animation: rotate 5s linear infinite, pulse 2s ease-in-out infinite

@keyframes anim_header
  from
    margin-left: -3000px
  to
    margin-left: 0
  50%
    filter: blur(2px)
  90%
    filter: blur(1px)
  95%
    filter: blur(0.5px)
  100%
    filter: blur(0px)

@keyframes anim2
  from
    margin-right: -3000px
  to
    margin-left: 0
  50%
    filter: blur(2px)
  90%
    filter: blur(0.5px)
  100%
    filter: blur(0px)

@keyframes rotate
  0%
    transform: rotate(0deg) translateX(50px)
  100%
    transform: rotate(360deg) translateX(50px)

@keyframes pulse
  0%, 100%
    opacity: 0.6

  50%
    opacity: 1